<apex:page sidebar="false">
<!--Flight Systems Checklist Visualforce Page-->
   <h1>Station Status</h1>
   <apex:form id="engineReadinessChecklist">
      <apex:pageBlock title="Flight Systems Checklist">
        
         <apex:pageBlockButtons >
            <!--Adding Save Button-->
            <apex:commandButton value="Save" action="{!save}"/>
         </apex:pageBlockButtons>
      </apex:pageBlock>
   </apex:form>
</apex:page>